<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :post_date %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :post_destination %>
  </div>

  <div class="field">
    <%= form.label :departure_location %>
    <%= form.text_field :departure_location, id: :post_departure_location %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_area :time, id: :post_time %>
  </div>

  <div class="field">
    <%= form.label :number_passengers %>
    <%= form.text_area :number_passengers, id: :post_passengers %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
