<p id="notice"><%= notice %></p>

<h1 class="text-center">Posted Rides</h1>
<hr />
  <div class="panel-group">
    <% @posts.each do |post| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <%= post.name %>
        </div>
        <div class="panel-body">
          <td><%= post.content %>
        </div>
        <div class="panel-footer">
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Post', new_post_path %>
