<h1 class="text-center">Current Rides</h1>
<hr />
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="post panel panel-primary" id="<%= post.id %>">
            <div class="panel-heading">
              <h2><%= post.destination %></h2>
            </div>
            <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <h5><strong> Pickup Location:</strong> <%= post.departure_location %></h5><br />
                <h5><strong>Departure Time:</strong> <%= post.departure_time.strftime('%I:%M %p on %A, %B %d, %Y') %></h5><br >
                <h5><strong>Spots left:</strong> <%= post.number_passengers - post.riders.count%></h5>
              </div>
              <div class="col-xs-6">
                <h1 class="text-center clock"></h1>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>  
    <% end %>


<%= javascript_include_tag 'posts_redirect' %>
<%= javascript_include_tag 'posts_clock' %>