<p>
  <strong>Destination:</strong>
  <%= @post.destination %>
</p>

<p>
  <strong>Pickup Location:</strong>
  <%= @post.departure_location %>
</p>

<p>
  <strong>Date of Departure:</strong>
  <%= @post.departure_time %>
</p>

<p>
  <strong>Maximum Number of Passengers:</strong>
  <%= @post.number_passengers %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
