<br/>
<div class="row">
  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
  <h1 class="text-center">Ride Info</h1>
  <hr>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 left-panel">
            <h2 class="text-center">Details About the Trip</h2>
            <hr />
            
            <p>
              <strong>Destination:</strong>
              <%= @post.destination %>
            </p>

            <p>
              <strong>Pickup Location:</strong>
              <%= @post.departure_location %>
            </p>

            <p>
              <strong>Leaves at:</strong>
              <%= @post.departure_time.strftime('%I:%M %p on %A, %B %d, %Y') %>
            </p>

            <p>
              <strong>Max Number of Passengers:</strong>
              <%= @post.number_passengers %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-5">
    <h1 class="text-center">People Going</h1>
    <hr>
    <div class="panel-group" id="accordion">
      <% @post.riders.each_with_index do |id,index| %>
      <% @rider = User.find(id) %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>">
                <%= @rider.first_name + " " + @rider.last_name %>
              </a>
              &nbsp;
              <% if @rider.id === @post.creator %>
                <span class="badge badge-primary">Creator</span>
              <% end %>
            </h4>
          </div>
          <% if @rider.id === @post.creator %>
            <div id="collapse<%= index %>" class="panel-collapse collapse in">
          <% else %>
            <div id="collapse<%= index %>" class="panel-collapse collapse">
          <% end %>
            <div class="panel-body">
              <p><strong>Email Address:</strong>&nbsp;<%= @rider.email %> </p>
              <p><strong>Phone Number:</strong>&nbsp;<%= @rider.phone %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>


  <% if @post.creator === current_user.id %>
    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-5">
        <%= link_to 'Edit Post', :edit_post, class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <div class="col-xs-6 col-sm-5">
        <%= link_to 'Delete Post', @post, method: :delete, class: "btn btn-danger btn-lg btn-block", data: { confirm: 'Are you sure you want to delete your post?' } %>
      </div>
    </div>
    <br/>     
  <% elsif !@post.riders.include?(current_user.id) %>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <%= link_to 'Join Ride', :rider_request, class: "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
    <br/>     
  <% else %>
  <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <%= link_to 'Leave Ride', :rider_request, class: "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
    <br/>     
  <% end %>

  <div class="row">
    <div class="col-xs-6 col-sm-5 col-sm-offset-1">
      <button class="btn btn-block btn-info btn-lg">Last</button>
    </div>
    <div class="col-xs-6 col-sm-5">
      <button class="btn btn-block btn-info btn-lg">Next</button>
    </div>
  </div>
