
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>Edit Profile Information</h1>
    <hr/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "owen.astrachan@duke.edu" %>
        <small class="form-text text-muted">(Must be Duke email)</small>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "New Password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">
            (<%= @minimum_password_length %> characters minimum)
          </small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "New Password Confirmation" %>
        <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>

      <hr>

      <%= f.submit "Save Changes", class: "btn btn-default btn-lg btn-block" %>

    <% end %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h1>Delete Your Account</h1>
    <hr/>
    <h3>Unhappy with Duke's Ride Sharing?</h3>
    <h4>Click the button below to delete your account. </h4>
    <%= button_to "Cancel Your Account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "btn btn-block btn-danger btn-lg" %>
  </div>
</div>

